@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Roboto Mono', monospace;
    cursor: none;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

::-webkit-scrollbar {
    width: 0;
  }

body {
    background-color: black;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    color: #644646;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    letter-spacing: 0.1em;
    mix-blend-mode: difference;
}

#cursor {
    pointer-events: none;
    position: fixed;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 2;
    mix-blend-mode: difference;
    transition: width ease-in-out .2s, height ease-in-out .2s;
  }

#noise::before {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../noise.gif);
    opacity: .05;
    pointer-events: none;
}

.me {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5e4444;
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 0.1em;
    mix-blend-mode: difference;
    border-radius: 50%;
}

.arrow {
    transition: all ease-in-out 0.5s;
    position: fixed;
    bottom: 1em;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #5e4444;
    font-weight: 800;
    font-size: 3rem;
    mix-blend-mode: difference;
    border-radius: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    gap: 10px;
    .clickHere {
        font-size: 0.4em;
        animation: clickHereAnim ease-in-out 3s infinite;
    }
    div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border: 4px solid #110d0d;
            border-radius: 50%;
        }

}

section {
    height: 500px;
    background-color: rgba($color: #fff, $alpha: 0);
    margin: 5px 0;
}

.fill {
    height: 1500px;
}

.about {
    position: relative;
    height: fit-content;
    margin: 1em 25%;
    background-repeat: no-repeat;
    background-color: rgba($color: #925252, $alpha: 0.1);
    padding: 2em;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    border-radius: 10px;
    h2 {
        color: #664b4b;
        font-weight: 800;
        font-size: 3rem;
        letter-spacing: 0.1em;
        mix-blend-mode: difference;
        margin: 0;
        span {
            position: relative;
            top: 3px;
        }

    }
    p {
        color: #664b4b;
        mix-blend-mode: difference;
    }

}
.tech {
    background-color: rgba($color: #925252, $alpha: 0.1);
    margin: 0 25%;
    display: flex;
    height: fit-content;
    flex-direction: column;
    gap: 3em;
    border-radius: 10px;
    padding: 2em;
    .techBox {
        color: #664b4b;
        font-weight: 800;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    .techList {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        img:not(#npm, #sass) {
            width: 100px;
            height: 100px;
        }
        img{
            width: 100px;
            height: auto;
            mix-blend-mode: difference;
        }
    }
}

.fill2 {
    height: 500px;
}

footer {
    a {
        color: #664b4b;
        text-decoration: none;
    }
    width: 100%;
    height: 100px;
    z-index: 9999;
    background-color: #000000;
    color: #664b4b;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: -3.25em;
    z-index: -1;
}

#loader {
    width: 100%;
    height: calc(100% + 100px);
    background-color: #000000;
    z-index: 9999;
    position: fixed;
    top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
    z-index: 99999;
  }
  .loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
  }

  @keyframes rotate {
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }

  .hideMe {
    opacity: 0;
    pointer-events: none;
    transition: all ease-in-out 1s;
  }

  .none {
    display: none;
  }

  @keyframes clickHereAnim {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
  }
  
  #toTop {
    display: flex;
    justify-content: center;
    color: #664b4b;
    font-weight: 800;
    font-size: 1em;
    letter-spacing: 0.1em;
    mix-blend-mode: difference;
    position: relative;
    left: 0;
  }

  .bigger {
    scale: 2;
  }